In [ ]:
!pip install boto3

This script reads JSON files from an S3 bucket and loads them into a Pandas DataFrame, concatenating all the DataFrames into a single DataFrame.

In [ ]:
import pandas as pd
import boto3
import json
from io import StringIO

# Set up S3 client
s3 = boto3.client('s3')

# Define the S3 bucket name and file name
bucket_name = 'data-eng-210-final-project'
prefix = 'Talent/'

# Initialize empty list to store DataFrames
json_df = []

# Iterate over all JSON files in S3 bucket with given prefix
response = s3.list_objects_v2(Bucket=bucket_name, Prefix=prefix)

#The code uses s3.list_objects_v2 to retrieve a list of objects from the S3 bucket with the given prefix.
#the code then loops through the list of objects and checks if the key name ends with ".json".
for obj in response['Contents']:
    key = obj['Key']
    if key.endswith('.json'):
        # Read JSON file from S3 into DataFrame
        #If the key ends with ".json", the code uses s3.get_object to read the contents of the file into a Python string. 
        #It then uses json.loads to convert the string into a Python dictionary, and 
        #pd.json_normalize to convert the dictionary into a Pandas DataFrame.
        obj = s3.get_object(Bucket=bucket_name, Key=key)
        body = obj['Body'].read().decode('utf-8')
        data = json.loads(body)
        try:
            df = pd.json_normalize(data)
        except ValueError:
            print(f"Unable to normalize data from {key}")
            continue
        
        # Append DataFrame to list
        json_df.append(df)

# Concatenate all DataFrames into a single DataFrame
df = pd.concat(json_df, ignore_index=True)

In [6]:
df

,name,date,strengths,weaknesses,self_development,geo_flex,financial_support_self,result,course_interest,tech_self_score.C#,tech_self_score.Java,tech_self_score.R,tech_self_score.JavaScript,tech_self_score.Python,tech_self_score.C++,tech_self_score.Ruby,tech_self_score.SPSS,tech_self_score.PHP
0,Stillmann Castano,22/08/2019,[Charisma],"[Distracted, Impulsive, Introverted]",Yes,Yes,Yes,Pass,Business,6.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
1,Hilary Willmore,01/08/2019,"[Patient, Curious, Problem Solving]","[Overbearing, Chatty, Indifferent]",No,Yes,Yes,Fail,Data,4.0,2.0,NaN,NaN,1.0,4.0,NaN,NaN,NaN
2,Efrem Whipple,22/08/2019,"[Courteous, Independent, Patient]","[Introverted, Impulsive, Anxious]",Yes,Yes,Yes,Pass,Business,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN
3,Sydel Fenne,28/08/2019,[Passionate],"[Perfectionist, Sensitive]",Yes,Yes,Yes,Pass,Data,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,Michel Lebarree,07/08/2019,[Versatile],"[Controlling, Perfectionist, Chatty]",Yes,Yes,Yes,Pass,Engineering,NaN,4.0,2.0,NaN,3.0,3.0,1.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Eyde Boughton,19/12/2019,"[Collaboration, Passionate, Versatile]","[Overbearing, Conventional]",Yes,Yes,Yes,Fail,Engineering,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
996,Allina Buttfield,11/12/2019,"[Composure, Determined]","[Anxious, Introverted, Sensitive]",Yes,No,Yes,Fail,Engineering,1.0,NaN,4.0,NaN,NaN,1.0,4.0,NaN,1.0
997,Winona Strotton,18/12/2019,"[Reliable, Listening, Consistent]",[Selfish],Yes,Yes,Yes,Pass,Business,NaN,NaN,4.0,NaN,2.0,NaN,NaN,NaN,NaN
998,Thom Derwin,19/12/2019,[Efficient],"[Competitive, Undisciplined]",Yes,Yes,Yes,Pass,Engineering,NaN,1.0,NaN,5.0,NaN,NaN,NaN,1.0,NaN
999,Jacquelynn Savin,12/12/2019,[Competitive],"[Overbearing, Impatient]",Yes,Yes,Yes,Pass,Business,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
import string
# Add sparta_day_person_id
df["sparta_day_person_id"] = df["name"].str.lower() +  pd.to_datetime(df['date'], dayfirst=True).dt.strftime('%Y%m%d')
df["sparta_day_person_id"] = df["sparta_day_person_id"].str.replace('[ '+string.punctuation+']', '', regex=True)

df = df.set_index('sparta_day_person_id')
df = df.reset_index()
df

,sparta_day_person_id,level_0,index,name,date,strengths,weaknesses,self_development,geo_flex,financial_support_self,...,course_interest,tech_self_score.C#,tech_self_score.Java,tech_self_score.R,tech_self_score.JavaScript,tech_self_score.Python,tech_self_score.C++,tech_self_score.Ruby,tech_self_score.SPSS,tech_self_score.PHP
0,stillmanncastano20190822,0,0,Stillmann Castano,22/08/2019,[Charisma],"[Distracted, Impulsive, Introverted]",Yes,Yes,Yes,...,Business,6.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
1,hilarywillmore20190801,1,1,Hilary Willmore,01/08/2019,"[Patient, Curious, Problem Solving]","[Overbearing, Chatty, Indifferent]",No,Yes,Yes,...,Data,4.0,2.0,NaN,NaN,1.0,4.0,NaN,NaN,NaN
2,efremwhipple20190822,2,2,Efrem Whipple,22/08/2019,"[Courteous, Independent, Patient]","[Introverted, Impulsive, Anxious]",Yes,Yes,Yes,...,Business,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN
3,sydelfenne20190828,3,3,Sydel Fenne,28/08/2019,[Passionate],"[Perfectionist, Sensitive]",Yes,Yes,Yes,...,Data,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,michellebarree20190807,4,4,Michel Lebarree,07/08/2019,[Versatile],"[Controlling, Perfectionist, Chatty]",Yes,Yes,Yes,...,Engineering,NaN,4.0,2.0,NaN,3.0,3.0,1.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,eydeboughton20191219,995,995,Eyde Boughton,19/12/2019,"[Collaboration, Passionate, Versatile]","[Overbearing, Conventional]",Yes,Yes,Yes,...,Engineering,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
996,allinabuttfield20191211,996,996,Allina Buttfield,11/12/2019,"[Composure, Determined]","[Anxious, Introverted, Sensitive]",Yes,No,Yes,...,Engineering,1.0,NaN,4.0,NaN,NaN,1.0,4.0,NaN,1.0
997,winonastrotton20191218,997,997,Winona Strotton,18/12/2019,"[Reliable, Listening, Consistent]",[Selfish],Yes,Yes,Yes,...,Business,NaN,NaN,4.0,NaN,2.0,NaN,NaN,NaN,NaN
998,thomderwin20191219,998,998,Thom Derwin,19/12/2019,[Efficient],"[Competitive, Undisciplined]",Yes,Yes,Yes,...,Engineering,NaN,1.0,NaN,5.0,NaN,NaN,NaN,1.0,NaN
999,jacquelynnsavin20191212,999,999,Jacquelynn Savin,12/12/2019,[Competitive],"[Overbearing, Impatient]",Yes,Yes,Yes,...,Business,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df

,sparta_day_person_id,name,date,strengths,weaknesses,self_development,geo_flex,financial_support_self,result,course_interest,tech_self_score.C#,tech_self_score.Java,tech_self_score.R,tech_self_score.JavaScript,tech_self_score.Python,tech_self_score.C++,tech_self_score.Ruby,tech_self_score.SPSS,tech_self_score.PHP,sparta_day_person_id
0,0,Stillmann Castano,22/08/2019,[Charisma],"[Distracted, Impulsive, Introverted]",Yes,Yes,Yes,Pass,Business,6.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,stillmanncastano20190822
1,1,Hilary Willmore,01/08/2019,"[Patient, Curious, Problem Solving]","[Overbearing, Chatty, Indifferent]",No,Yes,Yes,Fail,Data,4.0,2.0,NaN,NaN,1.0,4.0,NaN,NaN,NaN,hilarywillmore20190801
2,2,Efrem Whipple,22/08/2019,"[Courteous, Independent, Patient]","[Introverted, Impulsive, Anxious]",Yes,Yes,Yes,Pass,Business,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,efremwhipple20190822
3,3,Sydel Fenne,28/08/2019,[Passionate],"[Perfectionist, Sensitive]",Yes,Yes,Yes,Pass,Data,NaN,3.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,sydelfenne20190828
4,4,Michel Lebarree,07/08/2019,[Versatile],"[Controlling, Perfectionist, Chatty]",Yes,Yes,Yes,Pass,Engineering,NaN,4.0,2.0,NaN,3.0,3.0,1.0,NaN,2.0,michellebarree20190807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Eyde Boughton,19/12/2019,"[Collaboration, Passionate, Versatile]","[Overbearing, Conventional]",Yes,Yes,Yes,Fail,Engineering,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,eydeboughton20191219
996,996,Allina Buttfield,11/12/2019,"[Composure, Determined]","[Anxious, Introverted, Sensitive]",Yes,No,Yes,Fail,Engineering,1.0,NaN,4.0,NaN,NaN,1.0,4.0,NaN,1.0,allinabuttfield20191211
997,997,Winona Strotton,18/12/2019,"[Reliable, Listening, Consistent]",[Selfish],Yes,Yes,Yes,Pass,Business,NaN,NaN,4.0,NaN,2.0,NaN,NaN,NaN,NaN,winonastrotton20191218
998,998,Thom Derwin,19/12/2019,[Efficient],"[Competitive, Undisciplined]",Yes,Yes,Yes,Pass,Engineering,NaN,1.0,NaN,5.0,NaN,NaN,NaN,1.0,NaN,thomderwin20191219
999,999,Jacquelynn Savin,12/12/2019,[Competitive],"[Overbearing, Impatient]",Yes,Yes,Yes,Pass,Business,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jacquelynnsavin20191212

In [ ]:
df.info()

In [14]:
df_strengths = df[['sparta_day_person_id', 'strengths']].explode('strengths')
print(df_strengths.head())

       sparta_day_person_id        strengths
0  stillmanncastano20190822         Charisma
1    hilarywillmore20190801          Patient
1    hilarywillmore20190801          Curious
1    hilarywillmore20190801  Problem Solving
2      efremwhipple20190822        Courteous

In [15]:
# use explode function to split the list column into multiple rows
df_weaknesses = df[['sparta_day_person_id', 'weaknesses']].explode('weaknesses')
print(df_weaknesses.head())

       sparta_day_person_id   weaknesses
0  stillmanncastano20190822   Distracted
0  stillmanncastano20190822    Impulsive
0  stillmanncastano20190822  Introverted
1    hilarywillmore20190801  Overbearing
1    hilarywillmore20190801       Chatty

In [ ]:
df_tech_self_score = df[['id','tech_self_score.C#','tech_self_score.Java','tech_self_score.R','tech_self_score.JavaScript','tech_self_score.Python','tech_self_score.C++','tech_self_score.Ruby','tech_self_score.SPSS','tech_self_score.PHP']]
df_tech_self_score.head()

In [ ]:
# Get the columns that start with 'tech_self_score'
cols_to_melt = [col for col in df.columns if col.startswith('tech_self_score')]

# Melt the columns into a key-value dataframe
df_tech_self_score = pd.melt(df, id_vars=['id'], value_vars=cols_to_melt, var_name='techname', value_name='score')

# Remove the 'tech_self_score.' prefix from the technology column
df_tech_self_score['techname'] = df_tech_self_score['techname'].str.replace('tech_self_score.', '')


# Drop rows where 'score' is NaN
df_tech_self_score = df_tech_self_score.dropna(subset=['score'])

df_tech_self_score